.main-container{
    color:azure;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.players-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
@media screen and (max-width:800px) {
    .main-container{
        grid-template-columns: repeat(2,1fr);
    }
    .players-container{
        grid-template-columns: 1fr;
    }
    
}
@media screen and (min-width:800px) and (max-width:1200px) {
    .main-container{
        grid-template-columns: 2fr,1fr;
    }
    .players-container{
        grid-template-columns: repeat(2,1fr);
    }
    
}
